<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="conn" connectionString="Server=dd7114e5-4d6e-479d-9f00-a4fa0096506f.sqlserver.sequelizer.com;Database=dbdd7114e54d6e479d9f00a4fa0096506f;User ID=vkokpfipvovmzbay;Password=t6UuR6Z7raM35PN2TaD7UwpQhR3q45CebfvR3oE3GKfKGANk57T4Gcn5PdmacJcv;"/>
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
